<footer class="site-footer">
  <p>
    &copy; <%= new Date().getFullYear() %> CSE 340 App
  </p>

  <p>
    <a href="/error/test" title="Trigger a test server error">
      Trigger server error
    </a>
  </p>
</footer>
