<header>
  <nav>
    <ul class="nav">
      <!-- Left side -->
      <li class="site-name">
        <a href="/">CSE Motors</a>
      </li>

      <!-- Right side -->
      <li class="nav-right">
        <a href="/inv/">Inventory</a>

        <% if (loggedin && accountData) { %>
          <a href="/account/">
            Welcome <%= accountData.account_firstname %>
          </a>
          <a href="/account/logout">Logout</a>
        <% } else { %>
          <a href="/account/login">My Account</a>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
