<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title><%- title %> | CSE 340 App</title>

	<!-- Fonts (optional, professional and readable) -->
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">

	<!-- External CSS served from public/css -->
	<link rel="stylesheet" href="/css/styles.css" media="screen">
</head>