<header id="top-header" class="site-header" role="banner">
	<div class="container">
		<span class="siteName">
			<a href="/" title="Return to home page">CSE Motors</a>
		</span>

			<a href="/account/login" title="Click to log in">My Account</a>
	</div>
</header>