<!doctype html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= typeof title !== 'undefined' ? title : 'CSE Motors' %></title>

<link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<header id="top-header" class="site-header" role="banner">

<div class="container">

<a href="/" title="Return to home page">CSE Motors</a>

</span>

<a href="/account/login" title="Click to log in">My Account</a>

</div>

</header>