<h1><%= title || "Server Error" %></h1>

<%- messages() %>

<p class="error-message">
  <%- message %>
</p>

<p class="error-actions">
  <a href="/" title="Return to home page">Return to Home</a>
</p>
